.main-inicio{
    display: flex;
    flex-direction: column;
    min-height: 70vh;
}

.content-wrap{
    display: flex;
}

.leftSite{
    width: 49%;
    margin-left: 10%;
    margin-top: 1%;
    align-items: center;
    background-color: white;
    min-height: 60vh;
}

.leftSite h3{
    color: #06001B;
    font-family: Lato;
    font-size: 45px;
    line-height: 45px;
    width: 600px;
    height: 70px;
    text-align: left;
    margin-top: 1%;
}

.leftSite p{
    color: #06001B;
    font-family: Lato;
    font-size: 18px;
    line-height: 28px;
    width: 560px;
    text-align: left;
    margin-top: 5%;
}

.leftSite input{
    background-color: #FFFFFF;
    border: 1px solid #06001B;
    border-radius: 5px;
    width: 150px;
    height: 35px;
    font-family: Lato;
    margin-right: 1%;
    font-size: 18px;
}

.leftSite button{
    background-color: #06001B;
    border-radius: 5px;
    width: 140px;
    height: 35px;
    color: white;
    font-family: Lato;
    margin-right: 20%;
    font-size: 15px;
}

/*logo black sale*/
.leftSite img{
    width: 354px;
    height: 181px;
    line-height: 5px;
    display: flex;
}

.rightSite{
    width: 49%;
    margin-right: 10%;
    margin-top: 1%;
    align-items: center;
    background-color: white;
    min-height: 60vh;
}

.rightSite .img1{
    height: 40%;
    width: 50%;
}

.rightSite .img2{
    height: 100%;
    width: 50%;
    margin-right: 2%;
    margin-top: 2%;
}

.rightSite .img3{
    height: 30%;
    width: 50%;
}

.rightSite .gemelosImg{
    display: flex;
    margin: 1%;
}

/* DISEÑO PARA APP */
@media only screen and (max-width: 375px){
    .main-inicio{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .content-wrap{
        display: none;
    }

    .rightSite .img1{
        display: none;
    }

    .rightSite .img2{
        display: none;
    }
}